<div class="row">
	<div class="col-sm-12 col-md-12">
		<div class="form-group">
			<input type="text" id="search" class="form-control" name="search" ng-model="name" placeholder="Type song name..." />
		</div>
		<ul class="list-group songs">
			<li class="list-group-item song" ng-repeat="item in songs| filter: {'song': name}">
				<div class="row">
					<div class="col-sm-9">
						<div class="song-container">
							<img ng-src="{{item.cover_image}}" class="img-responsive song-image" />
							<div class="song-details">
								<h5 class="song-title">{{item.song}}</h5>
								<p>
									<i class="fa fa-group"></i>&nbsp;{{item.artists}}
								</p>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>